---
import slugify from "slugify";
import { format } from "date-fns";

interface Props {
  title: string;
  description: string;
  date: string;
}

const { title, description, date }: Props = Astro.props;
---

<article
  class="flex flex-col gap-3 bg-schemewhite p-3 rounded-md dark:bg-schemeblack"
>
  <a
    href={`/${slugify(title, { lower: true })}`}
    class="text-schemeblack dark:text-schemewhite hover:underline"
  >
    <h2 class="text-4xl font-bold">
      {title}
    </h2>
  </a>

  <h3 class="text-xl text-schemeblack dark:text-schemewhite">
    {description}
  </h3>
  <a
    href={`/${slugify(title, { lower: true })}`}
    class="text-schemedarkblue font-bold uppercase text-sm tracking-button hover:underline dark:text-schemenavyblue"
    >Read more</a
  >
  <span class="text text-schemedarkgray font-semibold"
    >{format(new Date(date), "do MMMM y")}</span
  >
</article>
