---

---

<div
  class="prose max-w-screen-md
  prose-h1:font-bold prose-h1:text-xl prose-headings:text-schemeblack dark:prose-headings:text-schemewhite text-schemeblack dark:text-schemewhite
  prose-a:text-schemedarkblue dark:prose-a:text-schemenavyblue prose-p:text-justify prose-img:rounded-xl"
>
  <slot />
</div>
